provisioning-service/.env
provisioning_service/.env
monitoring-service/.env
notifications/.env
auth-service/.env
auth-service/.venv
.venv
Capstone_VDI-openrc.sh
Capstone_VDI-openrc.sh:Zone.Identifier
vm-connect.txt
auth-service/__pycache__
seed_auth_tests.sql
*.png
