GUACD_HOST=guacd
GUACD_PORT=4822
AUTH_SERVICE_URL=http://auth-service:8003
PROVISIONING_SERVICE_URL=http://provisioning-server:8001

# RDP account baked into the Glance image
VM_PORT=3389
VM_PROTOCOL=rdp
VM_USERNAME=
VM_PASSWORD=
VM_SECURITY=any
