# OpenStack — BUET Cloud Lab
OPENSTACK_AUTH_URL=http://topcskeystone.cloudlab.buet.ac.bd
OPENSTACK_USERNAME=
OPENSTACK_PASSWORD=
OPENSTACK_PROJECT_NAME=
OPENSTACK_USER_DOMAIN_NAME=Default
OPENSTACK_PROJECT_DOMAIN_NAME=Default

OPENSTACK_COMPUTE_URL=http://topcsnova.cloudlab.buet.ac.bd/v2.1
OPENSTACK_NETWORK_URL=http://topcsneutron.cloudlab.buet.ac.bd/v2.0
OPENSTACK_IMAGE_URL=http://topcsglance.cloudlab.buet.ac.bd/v2
OPENSTACK_VOLUME_URL=http://topcscinder.cloudlab.buet.ac.bd/v3

EXTERNAL_NETWORK_ID=
VM_KEY_NAME=rdp
VM_SECURITY_GROUP=allow-ping-ssh
VM_BOOT_VOLUME_SIZE_GB=10

# Postgres — must match database/Dockerfile
DB_USER=shakshor
DB_PASSWORD=shakshor
DB_NAME=VDI
DB_HOST=database
DB_PORT=5432

AUTH_SERVICE_URL=http://auth-service:8003
CELERY_BROKER_URL=pyamqp://guest:guest@rabbitmq:5672//
